.block {
  position: relative;
  width: 427px;
}

.input-wrapper {
    background-color: #F3F3F4;
}

.input-percent {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.blocks-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.block {
    font: 5px;
}

.text-input {
    border: none;
    background: #F3F3F4;
  }
  



.btn-submit {
    font-weight: 900;
    font-size: 30px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 92px 18px 92px;
    background: #FF9514;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}



.input-range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF9514;
  cursor: ew-resize;
  transition: background .3s ease-in-out;
}

.input-range::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FF9514;
  cursor: ew-resize;
  transition: background .3s ease-in-out;
}


.input-range::-moz-range-thumb:hover {
  background: #c46f07;
}

.input-range::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.input-range::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}